body {
    font-family: Bitter, Bungee, Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    z-index: -10;
    background: url(../images/bg-green-genor.svg) no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo a {
    color: #141414;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 10px 20px;
    font-family: Bungee;
}

.photo_profile {
    width: 15em;
    border-radius: 100%;
    border: 2px solid #e2e2e2;
    margin-top: 10%;
}

.title_name {
    margin-top: 1.5rem;
    color: #141414;
}

.title_job {
    margin-top: .70rem;
    color: #e2e2e2;
}

.social_media {
    margin-top: 5rem;
}

.nav-link {
    color: #e2e2e2;
}

.nav-link:hover {
    color: #141414;
}